body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131415;
  color: white;
}

@media (max-width: 768px){
  img {
    width: 100%;
  }
}